name: generate pacman game

on:
  schedule:
    - cron: "0 0 * * *"   # Runs daily at 00:00 UTC (5:30 AM IST)
  workflow_dispatch:       # Allows manual run
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Generate Pac-Man SVG
        uses: abozanona/pacman-contribution-graph@v2.3.0
        with:
          github_user_name: bhuvan-teki

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
